# ignoring compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# ignore IDEs and editors configurations
.vscode/
.idea/
*.iml

# ignore Pipenv and Poetry dependencies
Pipfile.lock
poetry.lock

# ignore sensitive databases and files
config.json
properties.json

# ignore logs
*.log

# ignore temporary files
/resp